<div class="header">
	<div class="pull-right"><%= link_to "Log Out (" + current_user.email + ")", destroy_user_session_path -%></div>
	<h3>Imports</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
	  <th>ID</th>
	  <th># of Purchase</th>
	  <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
	    <td><%= link_to import.id, import %></td>
		<td><%= import.data.nil? ? "N/A" : link_to(import.purchases.size, import) %></td>
		<td><%= import.data.nil? ? "N/A" : link_to(import.total, import) %></td>
        <td><%= link_to 'Destroy', import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<%= form_for @import, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.file_field :data %>
  </p>
  <p><%= f.submit %></p>
<% end %>

